# aviato:managed profile=python-library version=2.7.0
# aviato:hash=e6bfaca6d068571a42850f5f2d09cb82776f4dce5ba0277abb907db6c891a5c2
# aviato:inputs=fc765bd1af8b69911f2d2f19fa83781590b443d64723218e325418c024d742fc
# OS / editor
.DS_Store
*.swp
.idea/
.vscode/

# Build / dependency output
dist/
build/
*.egg-info/
node_modules/
.venv/
__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/
coverage/
.coverage
.build/
.docusaurus/

# Xcode
xcuserdata/
DerivedData/
